doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Jan Speckamp (428367)')
    title La Vuelta a Espana - Roadmap

    // Page Content [parsed by Pug]
    script.
        if("#{objects}" !== "") {
            var loaded_object_id = "#{objects}".split(',');
        } else {
            var loaded_object_id = [];
        }
    // JAVASCRIPTS
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
    script(src='/javascripts/leaflet-routing-machine.js')
    script(src="https://use.fontawesome.com/31a5e4392a.js")
    script(src='/javascripts/leaflet-sidebar.min.js')
    script(src='/javascripts/turfnearest.min.js')

    script(src = '/javascripts/index.js')
    script(src = '/javascripts/map.js')

    // STYLESHEETS
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-sidebar.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-routing-machine.css')

  body
    #map
    #sidebar.sidebar.collapsed
      .sidebar-tabs
        ul(role='tablist')
          li
            a(href='#home' , role='tab')
              i.fa.fa-home
          li
            a(href='#search', role='tab')
              i.fa.fa-bars
          li
            a(href='#import', role='tab')
              i.fa.fa-upload
        ul(role='tablist')
          li
            a(href='#imprint', role='tab')
              i.fa.fa-institution
      .sidebar-content
          #home.sidebar-pane
              h2 La Vuelta a Espana
              p This App provides an easy way to manage a multi-stage Race
              h3 Controls:
              p Information about the Stage can be edited from the buttons in the left context menu. To change/set the course of the Stage or to add external Objects to the Stage, a Stage needs to be selected for
                |  editing (green Route present). Editing is then done via leftclicking on the Map (Press+Hold on mobile Devices).
              h3 Permalinks:
              p Every Stage can be referenced by attaching the Stage ID to the URL. To reference multiple Stages they need to be seperated by commata.
              h5 Icons by: https://icon-icons.com/
          #search.sidebar-pane
            form#searchform
              input(id='searchform_input' type='search', placeholder="Search", autocomplete="off", onchange="search_items(this.value)", oninput="this.onchange();", onkeypress="this.onchange();", onpaste="this.onchange();")
            #accordion.panel-group
              .panel.panel-default
                .panel-heading.blue
                  h4.panel-title
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#createStageCollapsible') Create new Stage
                #createObjectCollapsible.panel-collapse.collapse
                  datalist#stagename
                    .panel.panel-default
                      .panel-heading.blue
                        h4.panel-title
                          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#createStageCollapsible') Create new Stage
                #createStageCollapsible.panel-collapse.collapse
                  .panel-body
                    form#createStageForm.tabledisplay
                      .col-md-11.tabledisplay
                        p
                          label(for='stage_id') Stage ID:
                          input#stage_id(name='stage_id' type='text', required='true', placeholder='Stage_1')
                        br
                        p
                          label(for='stage_name') Stage Name:
                          input#stage_name(name='stage_name' type='text', required='true', placeholder='Stage 1')
                        br
                        p
                          label(for='stage_startDate') Start Date:
                          input#stage_startDate(name='stage_startDate' type='date', required='true', placeholder='21/08/1998')
                        br
                        p
                          label(for='stage_endDate') End Date:
                          input#stage_endDate(name='stage_endDate' type='datetime-local', required='true', placeholder='21/08/1998')
                        br
                        p
                          label(for='stage_website') Stage Website:
                          input#stage_website(name='stage_website' type='text', placeholder='')
                        br
                        p
                          label(for='stage_description') Description:
                          input#stage_description(name='stage_description' type='text', placeholder='This is the first Time Trial.')
                        br
                        p.input-fields-wrap
                          label(for='stage_pictures') Pictures:
                          button.add-field-button
                            i.fa.fa-plus-circle(aria-hidden="true")
                        br
                        p
                          label(for='stage_startlocation_name') Start Location Name:
                          input#stage_startlocation_name(name='stage_startlocation_name' type='text', required='true', placeholder='Madrid')
                        br
                        p
                          label(for='stage_startlocation_coords') Start Location Coordinates:
                          input#stage_startlocation_coords.readonly(name='stage_startlocation_coords' type='text', required='true')
                        br
                        p
                          label(for='stage_startlocation_image') Start Location Image:
                          input#stage_startlocation_image(name='stage_startlocation_image' type='text', placeholder='')
                        br
                        p
                          label(for='stage_endlocation_name') End Location Name:
                          input#stage_endlocation_name(name='stage_endlocation_name' type='text', required='true', placeholder='Madrid')
                        br
                        p
                          label(for='stage_endlocation_coords') End Location Coordinates:
                          input#stage_endlocation_coords.readonly(name='stage_endlocation_coords' type='text', required='true')
                        br
                        p
                          label(for='stage_endlocation_image') End Location Image:
                          input#stage_endlocation_image(name='stage_endlocation_image' type='text', placeholder='')
                          input#stage_route.hidden(name='stage_route' type='text', placeholder='')
                          input#stage_parking.hidden(name='stage_parking' type='text', placeholder='')
                        p
                          input(type='submit', value='Add to Database')

              #templatestage.panel.panel-default.hidden
                .panel-heading
                  h4.panel-title
                    .btn-group.rightmargin
                      .btn.btn-danger(role="button" onclick='delete_stage(this);' data-toggle='collapse', data-parent='#accordion', href='#templatestage')
                        i.fa.fa-trash(aria-hidden="true")
                      .btn.btn-info(role="button" onclick='edit_stage(this);')
                        i.fa.fa-pencil(aria-hidden="true")
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#dummy')
                #dummy.panel-collapse.collapse.in
                  .panel-body
              #templateobject.panel.panel-default.hidden
                .panel-heading
                  h4.panel-title
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#dummy')
                #dummy.panel-collapse.collapse.in
                  .panel-body

          #import.sidebar-pane
            form.form-inline(onsubmit='event.preventDefault(); loadExternalFile();')
              input#loadexternalGeoJSON.form-control(type='text', name='externalfile', placeholder='URL zu ext. GeoJSON-Datei')
              input.btn.btn-default(type='submit', value='Import')
            br
            form.form-inline(onsubmit='event.preventDefault(); loadExternalGEOJSONTextField();')
              input#loadGeoJSONTextField.form-control(type='textarea', rows=10, name='externalfile', placeholder='GeoJSON')
              input.btn.btn-default(type='submit', value='Import')
          #imprint.sidebar-pane
              h1 Legal Disclosure
              | Information in accordance with section 5 TMG
              br
              br
              | Jan Speckamp
              br
              | 127.0.0.1
              br
              | eth0
              br
              h2 Contact
              | ICQ: 123456789
              br
              | E-Mail:
              a(href='mailto:noreply.muster@mail.de') max.muster@mail.de
              br
              | Website:
              a(href='http://3g2upl4pq6kufc4m.onion/', target='_blank') http://3g2upl4pq6kufc4m.onion/
              br
              h2 Disclaimer
              | Accountability for content
              br
              | The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
              br
              br
              | Accountability for links
              br
              | Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.
              br
              br
              | Copyright
              br
              |  Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).
              br
              br
              i Source:
              a(href='https://www.twigg.de', target='_blank') twiggs translations
              br
              br

